.goomba {
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 340px;
    left: 130px;

  }
  
  .baloon {
    position: absolute;
    left: 270px;
  
  }
  
  .super-mario{
    width: 200px;
    z-index: -1;
    top: 80px;
    position: absolute;
  }

  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 290px;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 530px;
    top: 280px;

  }